<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="RPS" verbose="1">
	<parameter name="paper" value="PAPER" />
	<parameter name="rock" value="ROCK" />
	<parameter name="scissors" value="SCISSORS" />
	<test name="testWinPlay" />
	 <test name="testLOSTPlay"/>
		<test name="testTIEPlay">
		<classes>
			<class name="fr.p10.miage.rps.tests.RockPaperScissorsTest">
				<methods>
                    <include name="testWinPlay"></include>
					<include name="testLOSTPlay" />
					<include name="testTIEPlay" />
					<!--<include name="testSessionWINPlay" />
					<include name="testSessionLOSTPlay" />
					<include name="testSessionTIEPlay" />
					<include name="testSessionGenTiePlay"/>
					<include name="testSessionGenWinPlay"/>
					<include name="testSessionGenLostPlay"/>
					!-->
				</methods>
			</class>
		</classes>
	 </test>
</suite>
